{% extends "base.html" %}

{% block title%}Add to Store{% endblock title%}

{% block content %}
	<div class="section_options">
		<div class="section">
			Store: Add Item
		</div>

		<div class="options">
			<a href="{{ request.META.HTTP_REFERER }}">Cancel</a>
		</div>
	</div>

	<form action="" class="flex_box_col" style="color: #FFFFF0" enctype="multipart/form-data" method="post">
		{% csrf_token %}

		<div class="flex_box_col">
			<label>Name</label>
			<div>{{ item_form.name }}</div>
		</div>

		<div class="flex_box_col">
			<label>Image</label>
			<div>{{ item_form.image }}</div>
		</div>

		<div class="flex_box_col">
			<label>Category</label>
			<div>{{ item_form.dept }}</div>
		</div>

		<div class="flex_box_col">
			<label>Description</label>
			<div>{{ item_form.description }}</div>
		</div>

		<div class="flex_box_col">
			<label>Price</label>
			<div>{{ sells_form.price }}</div>
		</div>

		<div class="flex_box_col">
			<label>Quantity</label>
			<div>{{ sells_form.quantity }}</div>
		</div>

		<div class="flex_box_col">
			<div>
				<input type="submit" name="view" value="Add">
			</div>
		</div>
	</form>
{%endblock content%}
