<!DOCTYPE html>

{% load static %}

<html>
    <head>
	   <title>{% block title %}{% endblock title %}</title>
        <style>
            @import url('https://fonts.googleapis.com/css?family=Sacramento');
        </style>

        <link rel="stylesheet" href="{% static 'css/jammin.css' %}">
    </head>
    <body>
        <header class="boundaries">
            <div id="logo_div">
                <a href="/"><span id="logo">Jammin</span></a>
            </div>

            <form id="search_form" action="/query" method="post">
                {% csrf_token %}
                <div id="search_bar_text">
                    <input id="search_text" type="text" name='query' placeholder="Search" value="{% block query %}{% endblock query %}">
                </div>
                <div id="search_bar_button">
                    <input id="search_button" type="submit" value="Find">
                </div>
            </form>

            <div class='nav_div'>
                {% if request.user.is_authenticated %}
                    <div id="profile">
                        Hello,
                        <a href="/profile_{{request.user.useraccount.username}}">
                            <span class="nav_text">{{ request.user.name }}</span>
                        </a>
                    </div>
                {% else %}
                    <div>
                        <a href="/login">
                            <span class="nav_text">Login</span>
                        </a>
                        or
                        <a href="/signup">
                            <span class="nav_text">Sign Up</span>
                        </a>
                    </div>
                {% endif %}
                |
                <a href="/cart">
                    <span class="nav_text">Cart</span>
                </a>
                {% if request.user.is_authenticated %}
                    |
                    <a href="/logout">
                        <span class="nav_text">Log Out</span>
                    </a>
                {% endif %}
            </div>
        </header>

        {% block content %}
        {% endblock content %}

        <footer class="boundaries">
            <div class="nav_div">
                <a href="/employee_login">
                    <span class="nav_text">Employees</span>
                </a>
                |
                <a href="/employee_app">
                    <span class="nav_text">Careers</span>
                </a>
            </div>
        </footer>
    </body>
</html>
