<!DOCTYPE html>
<html>
    <head>
	   <title>{% block title %}{% endblock title %}</title>
    </head>

    <body>
        <header>
            <div>
                <div>
                    <h1><a href='/'>Jammin</a></h1>
                </div>
                <div>
                    <form action="/query" method="post">
                        {% csrf_token %}
                        <input type="text" name='query' placeholder="Search">
                        <input type="submit" value="Find">
                    </form>
                </div>
                <br>
                <div>
                    {% if account.is_authenticated %}
                        <div>
                            Hello, <a href="{{ account.useraccount.username }}_profile/">{{ account.name }}</a>
                        </div>

                        <div>
                            <a href="/logout">Log Out</a>
                        </div>
                    {% else %}
                        <div>
                            <a href="/login">Login</a> or <a href="/signup">Sign Up</a>
                        </div>
                        <div>
                            <a href="/signup">Sign Up</a>
                        </div>
                    {% endif %}
                    <div>
                        Cart
                    </div>
                </div>
            </div>
        </header>

        <br>
        {% block content %}
        {% endblock content %}
        <br>

        <footer>
            <div>
                <div>
                    <a href="/employee_login">Employees</a>
                </div>
                <div>
                    <a href="/employee_app">Careers</a>
                </div>
            </div>
        </footer>
    </body>
</html>