{% extends "base.html" %}

{% block title%}Store{% endblock title%}

{% block content %}
	<div>
		<h2>Cart</h2>
	</div>
    <div>
        {% for entry in cart %}
			<div class = "lists">
				<div style="width: 100px; height: 100px">
					<img src="{{ entry.1.thumbnail.url }}">
				</div>
				<div>
					<div class = "item_name">
						<a href="/item_{{entry.0.item_id}}">{{ entry.1.name }}</a>
					</div>
                    <div class = "item_descr">
						{{ entry.1.description }}
					</div>
					<div class = "item_descr">
						<label>Quantiy: </label>{{ entry.0.quantity }}
						<label>Price: $</label>{{ entry.2 }}
					</div>
					<div class = "navbar">
						<a href="delete_cart_item_{{entry.0.item_id}}_{{entry.0.seller_id}}">Delete</a>
						<a href="inc_cart_item_{{entry.0.item_id}}_{{entry.0.seller_id}}">+</a>
                        <a href="dec_cart_item_{{entry.0.item_id}}_{{entry.0.seller_id}}">-</a>
					</div>
				</div>
			</div>
		{% endfor %}
        <div>
            <h3>Total: ${{ total }}</h3>
        </div>
	</div>
{% endblock content %}

