{% extends "base.html" %}

{% block title%}CheckoutAddress{% endblock title%}

{% block content %}
	<div class="content_body">
		<div class="section_options">
			<div class="section">
				Checkout
			</div>

			<div class="options">
				<a href="cancel_checkout_no_order">Cancel</a>
			</div>
		</div>

		<div class="flex_box_col" style="color: #FFFFF0">
			<div>
				Step 1: Select Shipping Address
			</div>

			<div>
				Your Addresses:
			</div>

			{% for a in addr %}
				<div class="flex_box_row">
					<a href="/checkout_address_{{a.id}}" style="color: #FFFFF0; font-weight: bold">
						<div>{{ a.name }}, {{ a.street }}</div>
					</a>
				</div>
			{% endfor %}
		</div>

		<a href="" style="color: #FFFFF0">Add New Address</a>
	</div>
{% endblock content %}
