{% extends "base.html" %}

{% block title%}CheckoutShipping{% endblock title%}

{% block content %}
	<div class="content_body">
		<div class="section_options">
			<div class="section">
				Checkout
			</div>

			<div class="options">
				<a href="cancel_checkout_{{order.orderid}}">Cancel</a>
			</div>
			
		</div>

		<div class="flex_box_col">
			<div>
				Step 2: Select Delivery Option
			</div>

			{% for op in ship %}
				<div>
					<a href="/checkout_shipping_{{order.orderid}}_{{op.shipid}}" style="color: #FFFFF0; font-weight: bold">{{op.type}} Shipping ({{op.delivery_est}} Business Days): ${{op.price}}.00</a>
				</div>
			{% endfor %}

		</div>

	</div>
{% endblock content %}

