<!DOCTYPE html>
<html>

<head>
	<title>Store</title>
</head>

<body>
	<h2>Store: Edit Item</h2>

	<a href=".">Cancel</a>

	<form action="" enctype="multipart/form-data" method="post">
		{% csrf_token %}

			<p>
				<label>Name</label>
				{{ item_form.name }}
			</p>

			<p>
				<label>Image</label>
				{{ item_form.image }}
			</p>

			<p>
				<label>Category</label>
				{{ item_form.dept }}
			</p>

			<p>
				<label>Description</label>
				{{ item_form.description }}
			</p>

		<input type="submit" name="save" value="Save">
	</form>

</body>

</html>
