{% extends "base.html" %}

{% block title %}Sign Up | Jammin{% endblock title %}

{% block content %}
	<div class="section_options">
        <div class="section">
            Sign Up
        </div>
    </div>

	<form class="flex_box_col" style="color: #FFFFF0" action="" method="POST">
		{% csrf_token %}
		<div class="flex_box_col">
             <label>Email</label>
             <div>{{ account_form.email }}</div>
        </div>

        <div class="flex_box_col">
             <label>Username</label>
             <div>{{ user_form.username }}</div>
        </div>

        <div class="flex_box_col">
             <label>Name</label>
             <div>{{ account_form.name }}</div>
        </div>

        <div class="flex_box_col">
             <label>Surname</label>
             <div>{{ account_form.surname }}</div>
        </div>

        <div class="flex_box_col">
             <label>Date of Birth</label>
             <div>{{ account_form.surname }}</div>
        </div>

        <div class="flex_box_col">
             <label>Password</label>
             <div>{{ account_form.password1 }}</div>
        </div>

        <div class="flex_box_col">
             <label>Confirm Password</label>
             <div>{{ account_form.password2 }}</div>
        </div>

        <div>
        	<input type="submit" value="Submit">
        </div>
	</form>
{% endblock content%}
