{% extends "base.html" %}

{% block title%}Listings{% endblock title%}

{% block content %}
	<div name="listings">
		<div name="listings_header">
			<h2>
				{% if user == request.user.useraccount %}
					My
				{% else %}
					{{ user.username }}'{% if user.username|slice:"-1:" != "s" %}s{% endif %}
				{% endif %}
				Listings
			</h2>

			{% if user == request.user.useraccount %}
				<a href="/add_item">Add an Item</a>
			{% endif %}
		</div>

		<div name="listings_view">
			{% for listing in user.sells_set.all %}
				<div name="listing" class = "lists">
					<div name="thumbnail" style="width: 100px; height: 100px">
						<img src="{{ listing.item.thumbnail.url }}">
					</div>
					<div name="details">
						<div class = "item_details">
							<a href="/item_{{ listing.item.itemid }}">{{ listing.item.name }}</a>
							<p>{{listing.item.description}}</p>
						</div>

						<div class = "listing_details">
							<label>Price: $</label>{{ listing.price}}
							<label>Quantiy: </label>{{ listing.quantity}}
						</div>

						<div class = "options">
						{% if user == request.user.useraccount %}
							<a href="modify_listing_{{listing.id}}">Edit</a>
							or
							<a href="drop_listing_{{listing.id}}">Delete</a>
						{% else %}
							<a href="add_to_cart_{{listing.item.itemid}}_{{listing.seller.userid}}">Add to Cart</a>
						{% endif %}
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock content %}
