{% extends "base.html" %}

{% block title%}Store{% endblock title%}

{% block content %}
	<div>
		<h2>Store</h2>
	</div>

	<div>
		<form action="add">
			<input type="submit" value="add">
		</form>
	</div>

	<div>
		{% for listing in listings %}
			<br>
			<div>
				<div style="width: 100px; height: 100px">
					<img src="{{ listing.0.image.url }}">
				</div>
				<div>
					<div>
						{{ listing.0.name }}
					</div>

					<div>
						<label>Quantiy: </label>{{ listing.1.quantity}}
						<label>Price: </label>{{ listing.1.price}}
					</div>

					<div>
						{{ listing.0.description }}
					</div>
					<div>
						<a href="drop_{{listing.0.itemid}}">Delete</a>
						<a href="modify_{{listing.0.itemid}}">Edit</a>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock content %}