{% extends "base.html" %}

{% block title%}{{ item.name }}{% endblock title%}

{% block content %}
	<div>
		<div>
			<div style="width: 500px; height: 500px;">
				<img src="{{ item.image.url }}" style="display: block;margin: auto;">
	    	</div>

	    	<div class="lists">
	    		<div>
	    			{{ item.name }}
	    		</div>

	    		<div>
	    			{{ item.description }}
	    		</div>

	    		{% if item.author == request.user.useraccount %}
	    		<div>
	    			<a href="modify_item_{{ item.itemid }}">Edit Item</a>
	    		</div>
	    		{% endif %}
	    	</div>	
		</div>

		<div>
			<div>
				{% if listing %}
		    		<p>You are selling this item:</p>
		    		<p><label>Price: </label>{{ listing.price }}</p>
					<p><label>Quantity: </label>{{ listing.quantity }}</p>
					<p>
						<a href="modify_listing_{{listing.id}}">Edit</a>
						or 
						<a href="drop_listing_{{listing.id}}">Delete</a>
					</p>
				{% else%}
					<p><a href="add_listing_{{item.itemid}}">Create a Listing</a></p>
				{% endif %}
	    	</div>
	    	{% for listing in listings %}
	    		{% if listing.seller.userid != request.user.useraccount.userid %}
	    		<div>
	    			<div>
	    				<label>Seller: </label><a href="/profile_{{listing.seller.username}}">{{ listing.seller.username }}</a>
						<label>Price: </label>{{ listing.price }}
						<label>Quantity: </label>{{ listing.quantity }}
						<a href="/cart">Add to Cart</a>

					</div>
	    		</div>
	    		{% endif %}
	    	{% empty %}
	    		<div>
	    			Out of Stock
	    		</div>
			{% endfor %}
    	</div>
	</div>
{% endblock content %}